@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --dark: #000;
  --light: #fff;
  --black: #000;
  --blue-50: #f2f5fc;
  --blue-100: #e1e8f9;
  --blue-200: #c8d5f4;
  --blue-300: #a1baec;
  --blue-400: #7294e3;
  --blue-500: #5d79df;
  --blue-600: #4056ce;
  --blue-700: #3c48b9;
  --blue-800: #384094;
  --blue-900: #353b73;
  --blue-950: #252846;
  --cyan-50: #eefbfd;
  --cyan-100: #d3f4fa;
  --cyan-200: #adeaf4;
  --cyan-300: #74d9ec;
  --cyan-400: #4ec7e0;
  --cyan-500: #19a2c1;
  --cyan-600: #1783a3;
  --cyan-700: #1a6984;
  --cyan-800: #1e566c;
  --cyan-900: #1d495c;
  --cyan-950: #0d2f3f;
  --green-50: #ecfdf4;
  --green-100: #d1fae3;
  --green-200: #a7f3cc;
  --green-300: #6ee7b1;
  --green-400: #2dd28d;
  --green-500: #10b978;
  --green-600: #059661;
  --green-700: #047851;
  --green-800: #065f41;
  --green-900: #064e37;
  --green-950: #022c20;
  --magenta-50: #fcf2fb;
  --magenta-100: #fbe4fb;
  --magenta-200: #f8d3f5;
  --magenta-300: #f0b2ea;
  --magenta-400: #e273d5;
  --magenta-500: #d65cc8;
  --magenta-600: #b83da5;
  --magenta-700: #973086;
  --magenta-800: #7a296b;
  --magenta-900: #642656;
  --magenta-950: #3f0d35;
  --neutral-50: #f2f2f2;
  --neutral-100: #e5e5e5;
  --neutral-200: #dcdcdc;
  --neutral-300: #bdbdbd;
  --neutral-400: #949494;
  --neutral-500: #767676;
  --neutral-600: #6e6e6e;
  --neutral-700: #525252;
  --neutral-800: #464646;
  --neutral-900: #3d3d3d;
  --neutral-950: #1c1c1c;
  --orange-50: #fff7ed;
  --orange-100: #feecd6;
  --orange-200: #fcd5ac;
  --orange-300: #f9b778;
  --orange-400: #f58633;
  --orange-500: #f36f1c;
  --orange-600: #e45512;
  --orange-700: #bd3f11;
  --orange-800: #963316;
  --orange-900: #792c15;
  --orange-950: #492104;
  --purple-50: #fbf6fe;
  --purple-100: #f6ebfc;
  --purple-200: #eedbf9;
  --purple-300: #e1bef4;
  --purple-400: #cf94ec;
  --purple-500: #c47de5;
  --purple-600: #a94bd2;
  --purple-700: #9139b7;
  --purple-800: #7a3396;
  --purple-900: #632a79;
  --purple-950: #32123e;
  --red-50: #fef3f2;
  --red-100: #fde4e3;
  --red-200: #fdcdcb;
  --red-300: #faaba7;
  --red-400: #f57a74;
  --red-500: #eb524b;
  --red-600: #d7332b;
  --red-700: #b52720;
  --red-800: #96231e;
  --red-900: #7d231f;
  --red-950: #440d0b;
  --teal-50: #eafdf9;
  --teal-100: #cef8ef;
  --teal-200: #9ef0de;
  --teal-300: #66e1cc;
  --teal-400: #37c8b5;
  --teal-500: #1fad9d;
  --teal-600: #168d81;
  --teal-700: #166f67;
  --teal-800: #165a55;
  --teal-900: #174a46;
  --teal-950: #072c2b;
  --white: #fff;
  --yellow-50: #fcfcea;
  --yellow-100: #faf9c7;
  --yellow-200: #f6f092;
  --yellow-300: #efde44;
  --yellow-400: #eace25;
  --yellow-500: #dab718;
  --yellow-600: #bc8f12;
  --yellow-700: #966812;
  --yellow-800: #7d5316;
  --yellow-900: #6a4419;
  --yellow-950: #3e240a;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}
::-webkit-scrollbar-thumb {
  background: #888888; /* Color of the scrollbar */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}
.swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 20px;
}
.swiper-pagination-bullet-active {
  background-color: black;
}
.swiper-pagination {
  bottom: -6px;
}
.checkmarkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmarkContainer {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}
.checkmark {
  --clr: #000;
  position: relative;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}
.checkmarkContainer input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse 500ms ease-in-out;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}
.checkmarkContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #1f222190;
    rotate: 20deg;
  }
  50% {
    rotate: -20deg;
  }
  75% {
    box-shadow: 0 0 0 10px #40444360;
  }
  100% {
    box-shadow: 0 0 0 13px #1e1f1e30;
    rotate: 0;
  }
}
.content .swiper-pagination-bullet-active {
  background: #000;
}