.options__btns::-webkit-scrollbar {
  height: 8px !important; /* Adjust thickness */
}
.options__btns::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Gray-400 */
  border-radius: 10px;
}
.options__btns::-webkit-scrollbar-track {
  background: #e5e7eb; /* Gray-200 */
}
